body {
    background-image: url(img/background.jpg);
    background-size: 100%;
}
h1, h2, button {
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom:0px;
    margin-top:0px;
}

#scorebox {
    border: 1px solid black;
    margin-top: 44px;
    position: relative;
}

#upgradeBox {
    border: 1px solid black;
    margin-top: 25px;
    position: relative;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 5px;
    padding: 5px;
    margin-right: 5px;
    font-size: 15px;
}

h3 {
    position: absolute;
    bottom: 0;
}

.has-hover-card {
    display: inline-block;
    position: relative;
}

.hover-card {
    display: none;
    background: #ededed;
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: -175;
    white-space: nowrap;
    width: 150px;
    text-align: center;
}

.has-hover-card:hover .hover-card {
    display: inline-block;
}

img {
    border: 1px solid black;
}

p{
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

h1, h2 {
    display: inline;
}

.sectionLeft { 
    float: right; 
    width: 30%;
    text-align: right;
    border: 1px solid black;
    height: 99.8%;
}
.sectionRight { 
    float: left; 
    width: 30%;
    text-align: center;
    border: 1px solid black;
    height: 99.8%;
}
.sectionCenter { 
    display: inline-block; 
    width: 39.54%; 
    text-align: center;
    border: 1px solid black;
    height: 99.8%;
}

h1 {
    text-align: center;
}


#button {
    width: auto;
    height: auto;
    margin-top: auto;
    padding: auto;
    margin-right: 10px;
    font-size: auto;
}
